<!doctype html>
<html>
    <head>
        <title>Write Here</title>
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    </head>

    <body>
        <div class="center">
            <p class="title">Previous Entry Lookup</p>
            <form class="center" method=post>
                <input type="date" id="date" name="date">
                <button type="submit">Go</button>
            </form>
            <textarea readonly="true" id='textbox' rows="10" cols="25">{{ output }}</textarea>
            <p><a href="/" class="huger" onclick="">ᐳ</p>
        </div>
    </body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='styles/main.css') }}">
</html>
