<!doctype html>
<html>
    <head>
        <title>WHWN</title>
    </head>

    <body>
        <p>Todays Prompt &#129312</p>
        <p>What was the masogehaoieghosh</p>
        <div class="center">
            <form id=f method="post">
                <textarea form="f" name="text" maxlength=200 id='textbox' rows="10" cols="25"></textarea>
                <span id="char_count">200/200</span>
                <button name="submit" type="submit">Submit</button>
            </form>
        </div>
        <p><a href="{{ url_for('history') }}" class="hugel" onclick=loadPage()>LEFT</a></p>
        <p><a href="{{ url_for('friends') }}" class="huger" onclick="">RIGHT</p>
    </body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='styles/main.css') }}">

    <script src="js/main.js"></script>
</html>
