body {
    background-image: linear-gradient(to right, #000000, #2832C2);
}

* {
    font-size: 30px;
    font-family: "Noto Sans", sans-serif;
    color: white;
}

.title {
    font-size: 50px;

}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#textbox {
    background-color: rgba(255, 255, 255, 0.05);
    font-weight: normal;
    align: center;

}

#date {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 75px;
}

.hugel {
    font-size: 90px;
    float: left;
    text-decoration: none;
    position: fixed;
    padding: 25px;
}

.hugel:hover {
    color: #8490FF;
    cursor: pointer;
}

.huger:hover {
    color: #8490FF;
    cursor: pointer;
    padding: 25px;
}

.huger {
    font-size: 90px;
    float: right;
    position: fixed;
    text-decoration: none;
}
